* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    height:100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(37, 37, 37);
}

/* Generic Section Content */ 

.wrapper {
    max-width: 90%;
    margin-inline: auto;
    padding-inline: 2rem;
}

.subheading {
    position: relative;
    left: 5%;
    margin-top: 60px;
    margin-bottom: 80px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
    margin: 15px 0;
}

section {
    padding-block: 6rem;
}

p,
label {
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: 700;
}

/* Responsive navbar with hamburger menu for mobile devices: */

li {
    list-style: none;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: rgba(46, 46, 46, 0);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px
}

.nav-branding {
    font-size: 3rem;
    font-family: 'Gruppo', cursive;
}

.nav-link {
    font-family: 'Michroma', sans-serif;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(96, 225, 221);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(46, 46, 46, 0.85);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: 20px 0;
        z-index: 10;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}

/* Banner for the website header with CSS background animation */

.banner {
    height: 650px;
    background-color: rgba(46, 46, 46, 0);
}

h1 {
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 8rem;
    padding: 50px 0 0 50px;
}

.initial {
    color:rgb(96, 225, 221); 
}

.vert,
.hori {
    color: rgb(96, 225, 221);
    font-family: 'Michroma', sans-serif;
}

.vert {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2rem;
    display: inline;
}

.eb {
    position: relative;
    bottom: 300px;
    left: 90px;
}

.eveloper {
    position: relative;
    bottom: 24px;
    left: 420px;
}

/* Responsive Banner Heading: */

.hori {
    display: none;
}

@media only screen and (max-width: 1220px) {
    h1 {
        font-size: 6rem;
    }
    .vert {
        font-size: 1.5rem;
    }
    .eb {
        position: relative;
        bottom: 230px;
        left: 81px;
    }
    .eveloper {
        position: relative;
        bottom: 18px;
        left: 325px;
    }
    .banner {
        height: 500px;
    }
}

@media only screen and (max-width: 940px) {
    h1 {
        font-size: 5rem;
    }
    .vert {
        font-size: 1.25rem;
    }
    .eb {
        position: relative;
        bottom: 190px;
        left: 75px;
    }
    .eveloper {
        position: relative;
        bottom: 16px;
        left: 280px;
    }
    .banner {
        height: 400px;
    }
    .subheading {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        word-spacing: 1000px;
    }
    .vert {
        display: none;
    }
    .hori {
        display: inline;
        position: relative;
        left: 50px;
    }
    .web {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 4rem;
    }
    .banner {
        height: 350px;
    }
    .nav-branding {
        font-size: 2rem;
    }
    .wrapper {
        max-width: 95%;
    }
}

@media only screen and (max-width: 462px) {
    h1 {
        font-size: 3.5rem;
    }
    .hori {
        font-size: 1rem;
    }
    .banner {
        height: 300px;
    }
}

@media only screen and (max-width: 410px) {
    h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 363px) {
    h1 {
        font-size: 2.5rem;
    }
    .banner {
        height: 270px;
    }
}

/* CSS Header animation 

.gradient-bg {
    width: 100%;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(130, 130, 130) 0%, rgb(80, 80, 80) 25%, #000000 80%);
    animation: AnimateBG 14s ease infinite;
}

@keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  * FEATURE CURRENTLY NOT IN USE; TO APPLY TO AN ELEMENT, ASSIGN IT A CLASS VALUE OF 'gradient-bg'. *

  */ 

/* About Section */ 

.about {
    color: rgb(40, 40, 40);
    position: relative;
}

.about::after {
    content: '';
    background-color: rgb(96, 225, 221);
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: auto;
}

.about-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1000px;
    height: auto;
}

.about-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.about-right {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 350px;
    height: 600px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.6);
    margin-left: 4rem;
}

.about-right h3 {
    margin: 15px auto;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 20px;
}

.skill img {
    height: 80px;
    width: auto;
}

/* Responsive About Section: */ 

@media only screen and (max-width: 1100px) {
    .about-content {
        flex-direction: column;
    }
    .about-right {
        margin: 3rem 0 0 0;
    }
}

@media only screen and (max-width: 800px) {
    .subheading {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }
    .about-text {
        font-size: 1.2rem;
    }
    .about-right {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 650px) {
    .about-text {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 550px) {
    .about-text {
        text-align: left;
    }
    .about-right {
        min-width: 250px;
    }
    .skill {
        width: 200px;
    }
}

/* Projects Section: */ 

.projects {
    padding-bottom: 200px;
}

.projects .subheading {
    color: white;
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(228, 228, 228);
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.8), 0 0 20px 10px rgb(96, 225, 221);
}

.card-1 {
    margin-top: 50px;
}

.card-1,
.card-2 {
    margin-bottom: 200px;
}

.project-name {
    font-size: 2rem;
}

.project-card-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 45%;
    height: 100%;
    font-size: 1.5rem;
}

.project-image {
    width: 100%;
    height: auto;
}

.project-link {
    margin-top: 10px;
}

.project-card-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 50%;
    height: 80%;
    font-size: 1.3rem;
}

.para1 {
    margin-bottom: 2rem;
}

/* Responsive Projects Section */ 

@media only screen and (max-width: 1240px) {
    .project-card-right {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1090px) {
    .project-card-left {
        font-size: 1.3rem;
    }
    .project-card-right {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 950px) {
    .project-card {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .card-1,
    .card-2 {
        margin-bottom: 100px;
    }
    .project-card-left {
        width: 90%;
        margin-bottom: 2rem;
    }
    .project-links {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .project-card-right {
        width: 90%;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 700px) {
    .project-card {
        padding: 30px;
    }
    .project-card-left {
        font-size: 1.2rem;
    }
    .project-card-right {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 550px) {
    .project-card {
        padding: 20px;
    }
    .project-card-left {
        font-size: 1.1rem;
    }
    .project-card-right {
        font-size: 1rem;
    }
    .para1 {
        margin-bottom: 1.5rem;
        }
}


@media only screen and (max-width: 480px) {
    .project-card {
        padding: 10px;
    }
}


/* Contact Section */ 

.contact {
    color: rgb(40, 40, 40);
    background-color: rgb(96, 225, 221);
}

.contact .subheading {
    margin-top: 0;
    margin-bottom: 40px;
}

.contact-info p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.contact-info h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.contact-icons {
    width: 30%;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact a {
    display: contents;
}

.contact-icon {
    width: 30%;
    height: auto;
}

.contact-form {
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.6);
    padding: 30px;
    width: 40%;
    margin: 0 auto;
    margin-top: 80px;
}

.contact-title {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    resize: vertical;
}

textarea {
    height: 140px
}

input[type=submit] {
    background-color: rgb(0, 139, 135);
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(0, 113, 109);
}

/* Responsive Contact Section: */

@media only screen and (max-width: 1200px) {
    .contact-form {
        width: 60%;
    }
    .contact-icons {
        width: 60%;
    }
}

@media only screen and (max-width: 760px) {
    .contact-form {
        width: 70%;
    }
    .contact-icons {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .contact-form {
        width: 80%;
    }
    .contact-icons {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .contact-form {
        width: 90%;
    }
    .contact-icons {
        width: 90%;
    }
}

@media only screen and (max-width: 380px) {
    .contact-form {
        width: 95%;
    }
    .contact-icons {
        width: 95%;
    }
}

/* Footer */ 

    footer {
        color: rgb(40, 40, 40);
        background-color: rgb(96, 225, 221);
    }

    footer p {
        padding: 0 4px 4px 0;
        text-align: right;
    }